*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(27,33,39);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap:20px;
    padding: 20px;
}
h1{
    font-size: 4vw;
    background: linear-gradient(to right,white,rgb(9,192,216),rgb(195, 9, 129));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.upload-image{
    max-width: 600px;
    width: 90%;
    height: 300px;
    background-color: rgb(66,76,86);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 2px 2px 10px black;
}
.inner-upload-image{
    width: 100%;
    height: 80%;
    background-color: rgb(21,26,32);
    border-radius: 50px;
    box-shadow: 2px 2px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
}
.inner-upload-image:hover{
    box-shadow: 2px 2px 10px black;
    background-color: rgb(42,51,62);
}
button{
    background-color: black;
    padding: 10px 10px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;

}
#image{
    width: 100%;
    height: 100%;
}